<section id="search" class="search-wrap">
    <h1>Find employee record</h1>
    <form action="/employees/search/all" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="name" placeholder="Employee name">
      <input type="submit" value="Search">
    </form>
  </section>